@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #72ca6fb6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5ec95c;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
}

.titulo-principal{
    font-size: 100px;
    font-family: "Bitter";
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: rgb(119, 201, 81);
    text-decoration: none;
}

main {
    padding: 20px;
}

.cabecalho {
    display: flex;
    margin-bottom: 20px;
}

.imagem-rural{ 
    width: 15%;
    height: 15%;
}

footer {
    background-color: #a1e9aa;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
